.itens-carrinho {
    background-color: var(--cor-menu);
    width: 738px;
    position: absolute;
    height: fit-content;
    box-shadow: var(--box-shadow-menu1);
    transition: .3s cubic-bezier(0.49, 0.06, 0.21, 1.14);
    transform: translateY(-101%);
    opacity: 0;
    transform-origin: right;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.itens-carrinho.active {
    transform: translateY(0);
    opacity: 1;
}

div.item-carrinho {
    cursor: auto;
    height: 122px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--cor-menu-destaque);
    padding: var(--p-tela-grande);
    margin-top: 3px;
}

div.item-carrinho>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

div.img-carrinho {
    border: solid 1px var(--cor-texto2);
    background-color: var(--cor-bg);
    width: 85px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.img-carrinho > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descricao h3{
    cursor: pointer;
    color: var(--cor-texto1);
    font-weight: 300;
    max-width: 80%;
}

.descricao h3:hover{
    text-decoration: underline;
}

.valor-carrinho p,.valor-carrinho span{
    color: var(--cor-texto2);
    font-weight: 500;
}

div.item-carrinho>button {
    align-self: flex-start;
    position: relative;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
}

footer.subtotal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--p-tela-grande);
    order: 1;
}

footer.subtotal>hr {
    border: solid 1px var(--cor-texto2);
    opacity: .3;
    width: 100%;
    margin-top: 0
}

@media screen and (max-width: 735px) {
    
    .itens-carrinho{
        width: 100%;
        min-height: 100%;
        left: 0;
    }

    div.item-carrinho {
        width: 100%;
        margin-top: 6px;
        height: fit-content;
        padding: var(--padding-tela-pequena);
    }

    .descricao h3{
        font-weight: 100;
        max-width: 90%;
    }

    .valor-carrinho p,.valor-carrinho span{
        font-weight: 300;
    }

    div.item-carrinho>button {
        font-weight: 300;
        font-size: 28px;
    }

    footer.subtotal {
        padding: var(--padding-tela-pequena);
    }
}

@media screen and (min-width: 740px) {
    .itens-carrinho{
        width: 100%;
        max-width: 900px;
    }

    .descricao h3{
        max-width: 100%;
    }
}