@import url("./variaveis.css");

nav {
    background-color: var(--cor-principal);
    padding: var(--p-tela-grande);
    position: relative;
    height: 94px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 12px 26px -12px rgba(0, 0, 0, .35);
    z-index: 4;
}

nav .logo {
    width: 100px;
    height: 70px;
}

.logo img {
    width: 100px;
    text-align: center;
}

nav button {
    background-color: transparent;
    border-radius: 10px;
    padding-left: 10px;
    width: 45px;
    height: 45px;
    text-align: center;
    ;
}

.btn-carrinho {
    width: 45px;
    height: 45px;
}

.contagem-itens {
    background-color: var(--cor-contagen-itens);
    display: block;
    text-align: center;
    position: relative;
    border-radius: 50%;
    font-weight: bold;
    color: var(--cor-texto1);
    padding: 2px;
    bottom: 16px;
    right: 12px;
}

