:root {
    --cor-principal: #FFCD00;
    --cor-menu: #daaf00;
    --cor-menu-destaque: #C49D00;
    --cor-destaque: #22b14c;
    --cor-contagen-itens: #d62a33;
    --cor-melhor-preco: #1990df;
    --cor-texto1: #ffffff;
    --cor-texto2: #121212;
    --cor-bg: #f3f3f3;
    --box-shadow-menu1: 0px 20px 26px -20px rgb(0 0 0 / 35%);
    --box-shadow-menu2: 0 0 30px -12px rgba(0, 0, 0, 0.35);

    --p-tela-grande: 16px 20px;
    --padding-tela-pequena: 8px;
}