:root {
    --cor-principal: #FFCD00;
    --cor-menu: #daaf00;
    --cor-menu-destaque: #C49D00;
    --cor-botao-destaque: #22b14c;
    --cor-contagen-itens: #d62a33;
    --cor-melhor-preco: #1990df;
    --cor-texto1: #ffffff;
    --cor-texto2: #121212;
    --cor-bg: #f3f3f3;

    --p-tela-grande: 16px 20px;
    --padding-tela-pequena: 6px;
}